@page "/counter/{currentCount:int?}"
@using System.Diagnostics
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="container mt-5">
    <EditForm EditContext="@editContext" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputNumber @bind-Value="validator.Value" />
    </EditForm>
    <button class="btn btn-secondary mt-2" @onclick="SetValue">Set value</button>
</div>

@code {
    CounterValidator validator = new CounterValidator();
    private EditContext editContext;

    [Parameter]
    public int currentCount { get; set; } = 0;

    protected override void OnInitialized()
    {
        editContext = new EditContext(validator);
    }

    private void IncrementCount() => currentCount++;

    private void OnValidSubmit() { }

    private void SetValue()
    {
        if (editContext.Validate())
        {
            currentCount = validator.Value;
            Debug.WriteLine(currentCount);
        }
        else
        {
            Debug.WriteLine("Validation failed. Value not set.");
        }
    }
}