<div class="d-flex w-100 justify-content-center">
	<Pager current-page="@Model.CurrentPage"
		   total-pages="@Model.TotalPages"
		   category="@Model.Category"
		   admin="@Model.Admin">
	</Pager>
</div>
